* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    transition: all .2s;
}
body {
    padding-right: 0px !important;
    overflow-y: scroll !important;
}
/* ======================List-item========================= */
.list-page{
    display: block;
}
.shopping-list{
    margin: auto;
    max-width: 600px;
    padding: 139px 0 224px;
    max-width: 600px;
    width: 100%;
    display: block;
    position: relative;
    min-height: 500px;
}
.top-bar{
    height: 0;
    left: 0;
    padding-top: 24px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 58px;
    z-index: 190;
    background: #fafafa;
}
.add-input-item{
    position: relative;
    display: inline-block;
    max-width: 600px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}
.form{
    display: flex;
    position: relative;
    align-items: center;
    height: 56px;
    padding: 0px 10px;
    line-height: 56px;
}
.form .wrap-add-input{
    padding-left: 60px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.wrap-btn{
    position: absolute;
    top: 7%;
    left: 1%;
    display: inline-flex;
    cursor: pointer;
}
.add-input {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
}
.carousel{
    margin: 5px 0px;
    max-height: 50px;
    width: 100%;
    display: none;
    align-items: center;
    transition: all .5s;
}
.carousel-inner{
    width: 100%;
    padding: 0px 16px;
    overflow: hidden;
}
.slides {
    display: flex;
    max-width: 9000px;
    height: 100%;
    transition: margin-left .5s ease-in;
    margin-left: 0px;
}
.m-l-550{
    animation: prev 1s;
}
@keyframes prev{
    from {
        margin-left: 0;
    }
    to {
        margin-left: 450px;
    }
}
.m-l--550{
    animation: next 1s ;
}
@keyframes next{
    from {
        margin-left: 0;
    }
    to {
        margin-left: -450px;
    }
}
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #d8d8d8;
    max-width: 200px;
    max-height: 40px;
    border-radius: 4px;
    cursor: pointer;
}
.wrap-slide-img{
    margin-right: 5px; 
}
.slide-img {
    height: 24px;
    width: 24px;
    /* background-image: url('../../images/local-small.svg'); */
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.wrap-slide-name{
    margin-right: 5px;
    width: auto;
}
.slide-name{
    font-size: .9rem;
    font-weight: 400;
    width: 100%;
    text-overflow: ellipsis;
    display: block;
}
.wrap-prev, .wrap-next{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #d8d8d8;
    padding: 5px 8px;
    z-index: 1000;
    transform: translate(0, 40%);
    cursor: pointer;
}
.wrap-prev{
    left: 1%;
    /* padding-right: 8px; */
}
.wrap-next
{
    right: 1%;
    padding-left: 12px;
}
.prev, .next{
    display: block;
    height: 0px;
    width: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.prev {
    border-right: 10px solid rgba(0, 0, 0, 0.5);
}
.next {
    border-left: 10px solid rgba(0, 0, 0, 0.5);
}
.list-item{
    list-style-type: none;
    background: #fff;
}
.item-active {
    padding: 0px 10px;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 72px;
    cursor: pointer;
    transition: background .2s;
}
.item-active-selected {
    background: rgba(66,133,244,.2) !important;
}
.item-title{
    padding: 0px 10px;
    display: flex;
    border-bottom: 1px solid rgba(206, 43, 43, 0.1);
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 72px;
    cursor: pointer;
    /* transition: background .5s; */
    font-size: 1rem;
    opacity: 0.6;
    color: rgba(0, 0, 0 , 0.8);
}
.item-active:hover{
    background: rgba(0,0,0,0.1);
}
.item-active:hover .wrap-btn-item{
    opacity: 1;
}
.wrap-img {
    display: inline-block;
    margin: 5px 0px;
    transform: scale(1.05);
}
.img {
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0,0,0,.1);
}
.img-selected {
    border: 2px solid #3b78e7;
    background-color: #fff;
    transform: scale(.9);
    border-radius: 50%;
}
.wrap-name-item{
    height: 100%;
    width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   line-height: 1.4;
}
.name-item {
    text-align: left;
    display: inline-block;
    max-width: 100%;
    padding-left: 15px;
    /* line-height: 69px; */
    font-size: 15px;;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    color: rgb(32, 33, 36);
}
.info-item{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 16px;
    /* overflow: hidden; */
    font-size: 14px;
    color: rgb(154, 160, 166);
    font-weight: 500;
}
.quantity-item{
    white-space: nowrap;
    max-width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.note-item::before{
    content: "•";
    padding: 0px 3px;
}
.note-item{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.wrap-btn-item{
    display: flex;
    opacity: 0  ;
}
.wrap-btn-item .btn-item {
    margin-right: 5px;
    display: inline-block;
}
.title-cate{
    font-size: 1.2rem;
    color: rgba(0, 0, 0 , 0.8);
    font-weight: 450;   
    font-family: "Roboto", sans-serif;
}
.title-cate:hover{
    background: #fff;
    cursor: default;
}
.wrap-select-all {
    text-align: left;
    padding: 0px;
    background: #fafafa;
    height: 58px;
    position: relative;
}
.select-all-text{
    color: #4285f4;
    letter-spacing: .3px;
    padding: 12px 10px;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 4px;
    transition: background .2s;
}
.select-all-text:hover{
    background: rgba(3, 3, 3, 0.1);
}