* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrap-account-item {
  width: 100%;
  padding: 16px;
  height: 72px;
  background: rgb(250, 250, 250);
  border-bottom: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
.wrap-account {
  display: flex;
  align-items: center;
}
.wrap-img-acc {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url("https://lh5.googleusercontent.com/-tr024PfzWpc/AAAAAAAAAAI/AAAAAAAAAAA/6cEWTrZk8h0/s40-c-e365-rw/photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  margin-right: 16px;
}
.wrap-info {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.name-info {
  font-weight: 400;
  font-size: 1.14em;
  color: rgba(0, 0, 0, 0.87);
}
.email-info {
  font-weight: 400;
  font-size: 14px;
  color: rgb(115, 115, 115);
}
.wrap-title-list {
  display: flex;
  align-items: center;
  align-content: flex-start;
  padding: 20px 16px;
  max-width: 100%;
}
.btn-help {
  margin: 0;
  margin-left: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-icon-item {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 900;
}
.btn-drawer {
  width: 100%;
  padding: 24px;
  text-align: center;
  cursor: pointer;
}
.title-list {
  display: inline-block;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.btn-text {
  display: inline-block;
  font-size: 0.89em;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(66, 133, 244);
}
.item-primary,
.item-other {
  color: rgb(66, 133, 244);
  font-size: 0.89rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0px 16px !important;
  background: rgba(0, 0, 0, 0.05);
}
.item-other {
  color: rgba(0, 0, 0, 0.87);
}
.wrap-btn-footer {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
}
.item-help-footer {
  padding: 0 16px !important;
  height: 48px !important;
  border: none;
}
.btn-footer-drawer {
  display: block;
  margin-right: 20px;
}
.btn-footer:hover {
  background: transparent;
}
.text-btn-footer {
  font-size: 1rem;
}
.text-item-drawer {
  line-height: 1;
  font-size: 1rem !important;
}
.wrap-title-list a {
  padding: 0px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.link-footer {
  padding: 35px 16px 16px 16px;
  width: max-content;
}
.pad-ver-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
