* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    transition: all 0.2s;
}
/* ===========================Header=================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  padding: 0px 16px;
  box-shadow: 0px 0px 4px 
}
.header .header-inner {
  padding: 5px 16px;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.header-inner .header-content {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
  padding: 0px 16px;
  width: 100%;
  max-width: 600px;
  align-items: center;
}
.left-btn{
    position: absolute;
    top: 8%;
    left: -8px;
}
.container-btn-right{
  /* position: relative; */
}
.card-category{
  top: 85%;
  right: 14%;
  font-size: .9rem;
}
.name-card-category{
  font-size: 0.9rem !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  word-spacing: 0;
}
.wrap-btn-right {
  display: flex;
}
.title-header{
    padding: 5px;
}
.title-header .logo-link{
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
}
.btn {
  height: 48px;
  min-height: 48px;
  width: 48px;
  min-width: 48px;
  line-height: 48px;
    display: inline-block;
    padding-top: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.btn:hover{
    background: rgba(0,0,0,0.1);
}
.btn-icon {
  font-size: 24px;
  display: inline;
}
.header .btn-left {
  position: absolute;
  left: -8px;
  top: 50%;
}
