.App {
  text-align: center;
  background-color: #fafafa;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #000000;
  
}
.text-loading{
  background: #333;
   color: yellow;
   justify-content: center;
  align-items: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  font-family: "Roboto", sans-serif ;
}